* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
header {
    height: 100px;
    background-color: #000000;
}
.header {
    margin: auto;
    color: #FFFFFF;
    max-width: 1140px;
    height: 100px;
    display: flex;
    align-items: center;
}
.header-logo {
    width: 100px;
    display: flex;
    justify-content: center;
}
.header-menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.header-menu ul {
    display: flex;
}
.header-menu li {
    list-style: none;
}
.header-menu a {
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 6px solid #000000;
}
.header-menu .active a,
.header-menu a:hover {
    border-bottom: 6px solid #B28756;
}